:root {
  --dark-navy: #ecdede;
  --navy: #f1f1f1;
  --light-navy: #ffffff;
  --lightest-navy: #c47878;
  --navy-shadow: rgba(247, 240, 240, 0.993);
  --slate: #000000;
  --light-slate: #ffffff;
  --lightest-slate: #000000;
  --white: #e6f1ff;
  --green-bright: #be1300;
  --green-tint: rgba(100, 255, 218, 0.1);
}
