:root {
  --dark-navy: #ecdede;
  --navy: #e6e3e3;
  --light-navy: #ffffff;
  --lightest-navy: #c47878;
  --navy-shadow: rgba(255, 255, 255, 0.7);
  --slate: #000000;
  --light-slate: #ffffff;
  --lightest-slate: #000000;
  --white: #e6f1ff;
  --green-bright: #be1300;
  --green-tint: rgba(100, 255, 218, 0.1);
}
